/* ProjectCard.scss */

body {
  overflow-x: hidden;
}

#projects h2 {
  text-align: center;
}

/* Conteneur de la carte projet */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;

}



.project-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Pour l’effet smooth */

  &:hover {
    transform: scale(1.05);
    /* Légère croissance */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    /* Ombre plus intense */
    z-index: 1;
    /* S’assure que la carte est au-dessus des voisines */
  }

}


.project-card__image {
  width: 100%;
  object-fit: cover;
  border: 4px solid #e0e0e0;
  height: 300px;
  border-radius: 10px 10px 0 0;

}


/* Contenu de la carte */
.project-card__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* Titre du projet */
.project-card__title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #333333;
  text-align: center;
}

/* Description du projet */
.project-card__description {
  width: 100%;
  /* ou auto */
  text-align: left;
  font-size: 14px;
  /* au choix */
  color: #555555;
  line-height: 1.4;
  margin-bottom: 1rem;
}

/* Liste des technologies */
.project-card__tech-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

/* Élément de la liste des technologies (badge) */
.project-card__tech-list li {
  background-color: #f0f0f0;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.85rem;
  color: #333333;
}

.project-card__links {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Lien vers GitHub */
.project-card__link {

  text-decoration: none;
  color: #031a37;
  font-weight: bold;
  transition: opacity 0.2s;

}

.project-card__link:hover {
  opacity: 0.8;
}

.project-card__details-button {
  margin-top: 0.5rem;
  background: none;
  border: none;
  color: #050e19;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: #141e30;
  }
}

.project-card__links {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

/* MODALE */
.modal-overlay {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-overlay {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.modal-content {
  all: unset; // ← Petit joker pour écraser les mauvaises surprises
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  position: relative;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  text-align: left;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #888;
  cursor: pointer;

  &:hover {
    color: #333;
  }
}

.modal-image {

  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.modal-description {
  margin: 1rem 0;
  line-height: 1.5;
}

.modal-text {

  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

}

.modal-plot {
  font-style: italic;
  align-self: center;

}

.modal-tech-list,
.modal-skill-list {
  list-style: disc;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.modal-link {
  display: inline-block;
  margin-top: 1rem;
  color: #1e2a38;
  font-weight: bold;
  text-decoration: underline;
  transition: opacity 0.3s;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Intégrer Responsive
// Responsive tablets
@media (max-width: 768px) {
  .modal-content {
    width: 80%;
    max-width: 400px;
    padding: 1.5rem;
  }

  .modal-description,
  .modal-tech-list,
  .modal-skill-list {
    font-size: 0.9rem;
  }

  .modal-plot {
    font-size: 0.95rem;
  }
}

// Responsive mobile
@media (max-width: 480px) {
  .modal-content {
    width: 80%;
    max-width: 300px;
    padding: 1.5rem;

  }

  .modal-description,
  .modal-tech-list,
  .modal-skill-list {
    font-size: 0.85rem;
  }

  .modal-plot {
    font-size: 0.9rem;
    text-align: center;
  }

  .modal-text {
    padding: 0 0.5rem;
  }
}