.about-section {
    padding: 2rem;

    .introduction {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        margin-bottom: 2rem;

        figure {
            // margin-left: 3rem;
            flex: 1;
        }

        .portrait-img {

            width: 350px;
            height: 350px;
            object-fit: cover;
            border: 1px solid #ccc;
            border-radius: 200px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.65);
        }

        article {
            flex: 2;
            margin-left: 2rem;
            padding: 10px;

            h1 {
                font-size: 2rem;
                margin-bottom: 1rem;
                text-align: center;
            }

            p {
                width: 100%;
                color: #3d3d3d;
                font-family: "Work Sans", sans-serif;
                font-size: 14px;
                text-align: center;
                padding-left: 1rem;
            }
        }
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .profile-sections {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        flex-wrap: wrap;

        .info-box {
            flex: 1 1 45%;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            padding: 1.5rem;

            h2 {
                margin-bottom: 1rem;
                color: #333;
            }

            ul {
                list-style-type: none;
                padding-left: 0;

                li {
                    margin-bottom: 0.8rem;
                    font-size: 0.95rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    body,
    main,
    header,
    footer {
        display: flex;
        flex-direction: column;
    }


    main {
        padding: 1rem;
    }
}

p {
    text-align: center;
    width: 30%;
    font-size: 12px;
}


@media (max-width: 480px) {

    .about-section {
        grid-template-columns: 1fr;
        gap: 1rem;

    }






}