/* App.scss */

/* 1. Reset global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Styles de base */
body {
  font-family: Roboto, sans-serif;

  background-color: #f5f5f7;
  color: #333333;
  line-height: 1.6;
}

/* 3. Entête (header) */
header {
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* 4. Contenu principal */
main {
  padding: 2rem;
}

a {
  text-decoration: none;
}

/* Conteneur des cartes projets */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 1.5rem;
}

/* 5. Pied de page (footer) */
footer {
  background-color: #ffffff;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 2rem;
}

/* 6. Styles responsives */
@media (max-width: 768px) {

  .some-container,
  .project-card__content,
  header,
  footer,
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  /* Garde object-fit uniquement sur images */
  img {
    object-fit: contain;
  }

  * {
    box-sizing: border-box;
  }
}

.intro p {
  text-align: center;
  width: 30%;
  font-size: 12px;
}

@media (max-width: 480px) {

  .projects-container {
    grid-template-columns: 1fr;
    gap: 1rem;

  }

}